/* /////////////////////////////////////// style.css */
* {
    box-sizing: border-box;
}

html {
    background-color: #ffd04f;
    scroll-behavior: smooth;
    font-family: "DynaPuff", system-ui;  /* police de caractère importée */
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}


.centre {
    max-width: 1100px;
    margin: 0 auto; 
    background: radial-gradient(circle, rgba(255, 247, 171, 0.856) 0%, rgba(255, 241, 165, 0.822) 100%); /* gradient au centre */
    border: 6px solid #fc7100; /* une bordure spéciale */
    border-style: groove;
    z-index: 0; /* index de base sinon l'image de l'accueil disparaît derrière le radial-gradient */
}

section {
    min-height: 100vh;
    font-size: 420%;
    color: rgb(0, 0, 0);
}

h1, figcaption {
    margin: 0;
    padding: 20px;
    font-size: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
}




/* ///////////////////////////////////////////////// Section ENTÊTE */
.entete__div {
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    background-color: rgb(233, 171, 0);
    padding: 7px 35px 0px 35px;
    /* min-width: 1090px; → désactivé pour que ça soit entièrement adaptative (responsive) */
    height: auto;
}

.entete__h1 { 
    flex: 1;       /* prend l’espace disponible */
    min-width: 0;  /* nécessaire pour que flex shrink fonctionne */
    letter-spacing: 2px;
    color: #343106;
    text-shadow: 0px 4px 5px #fff6c4, 2px 0px 0px #f0ff6e, 4px -2px 2px #000000;
}

.recherche { /* la boîte de la barre de RECHERCHE */
    background-color: #17160e;
    border: 2px solid #545200;
    box-shadow: 0px 9px 5px rgba(0, 0, 0, 0.13);
    border-radius: 25px; /* forme plus arrondie */
    width: 450px;
    padding: 5px 15px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.recherche__input { /* dans la barre de recherche */
    background-color: transparent;
    flex: 1; /* pour la loupe */
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    color: #ff5e00; /* couleur de la barre et de son texte */
}

.recherche__input::placeholder {
    color: #ffd900; /* couleur du texte Rechercher */
}

.recherche input:focus { /* un rectangle de couleur claire qui apparaît lorsqu'on click sur la barre de recherche */
    border: none;
    outline: none;
}

.recherche__img { /* la loupe */
    width: 22px;
    height: 22px;
    cursor: pointer; 
}



.navigation {
    position: fixed;
    top: 20px;
    right: 20px;
    text-align: right;
    z-index: 1;   /* pour s'assurer que le MENU est toujours AU-DESSUS */
}

.navigation__bouton img {
    transition: transform 0.2s ease; /* transition pour le léger agrandissement (lorsqu'on hover) */
}

.navigation__bouton img:hover {
    transform: scale(1.2); /* léger agrandissement */
}

#chk-burger:checked~.navigation__menu { /* quand on click sur la case burger, le MENU s'affiche */
    visibility: visible;
    opacity: 1;
    transform: translateX(0); /* glisse vers la gauche */

    display: flex;
    flex-direction: column;
}

#chk-burger {
  opacity: 0; /* petit carré à cocher caché */
}

.navigation__menu {
    visibility: hidden; /* élément non interactif jusqu'à qu'on active #chk-burger */
    opacity: 0;
    transform: translateX(40px); /* décalé vers la droite */
    transition: opacity 0.4s ease, transform 0.4s ease; /* transition pour l'opacité et le léger déplacement (lorsque c'est activé) */
    
    gap: 10px; /* espace entre les boutons */
}

.navigation__menu a {
    display: inline-block;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: rgb(199, 136, 0);
    padding: 6px 11px 6px 9px;
    border-radius: 12px;
}

.navigation__menu a:hover {
    background-color: rgb(230, 157, 0);
    transform: scale(1.07); /* léger agrandissement */
}

.navigation__menu a:active {
    background-color: rgb(255, 193, 58);
}




/* ///////////////////////////////////////////////// Section ACCUEIL */
.hero {
    position: relative; /* cela positionne le background-image de ::before dans la boîte */
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/mazamorra-morada_800x534.png");
    opacity: 0.6;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path:
    polygon(50% 2%, 180% -26%, 129% 48%, 90% 80%, 81% 92%, 70% 98%, 18% 183%, -41% 38%, 211% -107%, 50% 2%);
    z-index: -1; /* image derrière le texte */
}


.hero__profil ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.hero__profil li {
   /* min-width: 1100px; → désactivé pour que ça soit entièrement adaptative (responsive) */
    margin: 7px auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 33px;
    line-height: 92px;
    text-shadow:
        0 0 20px #ffffff,
        0 0 30px #e9cc2a;
}

.github__link1 a:active {
    color: #ffe604;
}



/* ///////////////////////////////////////////////// Section INSCRIPTION */

.formulaire__div { /* conteneur général du formulaire */
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 600px;
    margin: 42px auto;
    padding: 30px;

    background: rgba(216, 158, 0, 0.911);
    border-radius: 20px;
    border: 1px solid rgba(148, 121, 0, 0.35);

    box-shadow: 0 8px 17px rgba(167, 170, 4, 0.45);
}


.formulaire fieldset { /* fieldsets */
    width: 100%;
    margin: 20px 0;
    padding: 15px 20px;

    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.35);
}

fieldset legend,
fieldset label {
    color: #312c16;
    font-size: 32px;
    text-shadow: 
        0 0 3px #f3ba00,   
        0 0 5px #da9500,  
        0 0 10px #333d05,  
        0 0 20px #969364,  
        0 0 40px #eeff00;  
}


.formulaire__texte { /* barre de texte */
    width: 100%;
    padding: 12px 15px;

    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);

    background: rgba(255, 255, 255, 0.9);
    color: #2c2c2c;

    transition: 0.3s ease-in-out; /* temps que cela prend pour transitionner au :focus */
}

.formulaire__texte:focus { /* le border est coloré quand tu écris */
    outline: none;
    border-color: #ffcb5c;
    box-shadow: 0 0 8px #fff45caa;
}


input[type="submit"] { /* bouton Valider */
    padding: 12px 25px;
    margin-top: 20px;

    background: linear-gradient(0deg, #080806, #a58701);
    border: none;
    border-radius: 10px;
    color: white;

    font-size: 1.1rem;
    cursor: pointer;
}

input[type="submit"]:hover
 {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(54, 54, 54, 0.3);
}




/* ///////////////////////////////////////////////// Section TABLEAU */

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin: 42px auto;
    box-shadow: 0 8px 17px rgba(107, 92, 5, 0.45);
    background-color: rgb(109, 105, 46);
}

tr {
    font-style: italic;
    font-family: "Tapestry", serif; /* police de caractère importée */
}

td, th {
    border: 3px groove #755a00;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

thead tr:nth-of-type(1) { /* la première rangée avec les sujets */
    background-color: #6e3620;
}

thead th { /* texte des sujets de la première rangée */
    color: #94a11b;
}

tbody tr:nth-last-of-type(odd) {
    background-color: rgb(68, 50, 22);
}


.div__source li { /* source web de la recette */
    text-align: center;
    list-style-type: none;
}

.source-recette__link a:active {
    color: #ffcc00;
}



/* ///////////////////////////////////////////////// Section ARTICLE */


.recette__div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 10px;
    padding: 30px;
}

.recette__div:nth-child(odd) { /* les divs impairs : figure à gauche, article à droite */
    flex-direction: row;
}

.recette__div:nth-child(even) { /* les divs pairs : figure à droite, article à gauche */
    flex-direction: row-reverse;
}

.recette__article h3 { /* les titres des étapes de la recette */
    font-family: "Great Vibes", cursive;
    font-size: 42px;
    font-weight: bold;
    padding: 15px 0px;
}

.recette__article p { 
    font-size: 1rem;
    line-height: 2rem;
}


.recette__figure { 
    position: relative;
    flex: 0 0 300px; /* les images devraient être maintenant de la même taille */
    box-shadow: 0 8px 17px rgba(255, 162, 108, 0.623);
}

.recette__figure img {
    display: block;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.recette__figure img:nth-child(even) {
    position: absolute; /* l'image originale prend la position de l'image filtre mauve placée au-dessus */
    top: 0;
    left: 0;
    opacity: 0;
}

.recette__figure img:nth-child(odd):hover { /* l'image filtre mauve disparaît */
    opacity: 0;
}

.recette__figure img:nth-child(even):hover { /* l'image originale apparaît */
    opacity: 1;
}


.recette__figure figcaption {
    font-family: "Tapestry", serif;
    font-size: 12px;
    color: #e2cdb6;
    background-color: #341f06;
    text-align: center;
    padding: 7px;
}



/* ///////////////////////////////////////////////// Section VIDÉO/SON */

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.video iframe {
    display: inline-block;
    box-shadow: 0 8px 17px rgba(255, 0, 0, 0.45);
}




/* ///////////////////////////////////////////////// Section GALERIE D'IMAGES */


.galerie {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galerie__figure {
    padding: 50px; /* je veux de grosses photos, alors j'augmente le padding */
    transform: rotate(3deg);
}

.galerie__figure:nth-of-type(1) img,
.galerie__figure:nth-of-type(7) img { 
    transform: rotate(6deg);
}

.galerie__figure:nth-of-type(4) img,
.galerie__figure:nth-of-type(5) img { 
    transform: rotate(-8deg);
}

.galerie__figure:nth-of-type(2) img,
.galerie__figure:nth-of-type(3) img,  /* des rotations personnalisées */
.galerie__figure:nth-of-type(6) img, 
.galerie__figure:nth-of-type(8) img { 
    transform: rotate(10deg);
}

.galerie__figure:nth-of-type(odd) {
    transform: rotate(-3deg);
}


.galerie__figure:nth-of-type(9) img { /* pour l'avant-dernière photo */
    transform: translateX(-50px) rotate(-10deg) scale3d(-0.99, 0.99, 0.99); /* cool effet 3D */
    transition: transform 2s cubic-bezier(0.25, 0.8, 0.25, 1); /* transition plus longue */
}

.galerie__figure:nth-of-type(10) img {  /* pour la dernière photo */
    transform: translateX(50px) rotate(10deg) scale3d(-0.99, 0.99, 0.99); /* cool effet 3D */
    transition: transform 2s cubic-bezier(0.25, 0.8, 0.25, 1); /* transition plus longue */
}



.galerie img {
    display: block;
    width: 100%;
    object-fit: cover;
    cursor: grab;

    transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1); /* transition plus rapide pour les huit premières images */
}

.galerie img:hover {
    transform: scale(1.07); /* léger agrandissement */
    box-shadow: 0 8px 17px #a39300;

    filter: saturate(1.1) brightness(1.1); /* plus lumineux */
}


.galerie__figure:nth-of-type(9) img:active,
.galerie__figure:nth-of-type(10) img:active {
    filter: none; /* aucun filtre */
    transform: scale(0.01); /* la photo s'en va loin oh non! */
}

.galerie img:active {
    filter: none; /* aucun filtre */
    transform: scale(0.9); /* pousser légèrement au clic */
}





/* ///////////////////////////////////////////////// Section PIED DE PAGE */

.pied__div {
    display: flex;
    flex-flow: wrap;
    gap: 10px;
    padding: 40px 30px 40px 20px;
    background-color: rgb(233, 171, 0);
}

.pied__div section { 
    min-height: 0vh; /* configuration exceptionnelle pour préserver la HAUTEUR pour le pied de page et ses sections en flex */
}

.pied__div h3 {
    font-family: "Great Vibes", cursive;
    font-size: 22px;
}

.pied__div p,
.pied__div ul,
.pied__confidentialite {
    font-family: "Tapestry", serif;
    font-size: 14px;
    line-height: 20px;
}

.pied__dessert {
    flex: 0 0 190px;
}

.pied__adresse li,
.pied__liens li {
    list-style-type: none;
    margin-left: -40px;
}

.pied__adresse {
    flex: 0 0 200px;
}

.pied__liens {
    flex: 1 0 170px;
}

.github__link2 a:active {
    color: #ff0000;
}

.pied__description {
    flex: 1 0 330px;
}

.pied__description p {
    color: #fff16f;
}

.pied__sociaux { /* position des icons en bas */
    flex: 1 0 0px;
}

.pied__sociaux a { /* espace entre les icons en bas */
    margin: 0px 6px;
    cursor: pointer;
}

.pied__sociaux a:hover { 
    filter: hue-rotate(90deg); /* violet à rouge; rouge à vert pour le Pérou */
}

.pied__confidentialite {
    display: flex;
    align-items: center;
}

.pied__maison a {
    text-decoration: none;
}

.pied__maison {
    display: flex;
}

.ms-icon { /* icône de maison */
  font-family: "Material Symbols Outlined";
  font-size: 42px;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.ms-icon:hover { 
  color: rgb(255, 145, 0);
}





















































/* ///////////////////////////////////////////////// Media Queries (pas évident de régler un affichage pour mon télépone) */
@media (max-width: 950px) {
    .recherche { width: 400px; }
    td, th { font-size: 15px }
}

@media (max-width: 770px) {
    section { font-size: clamp(3.1rem, 1vw, 5rem); padding: 3vh 2vw; } /* vh pour taille au viewport, valeur min et max dans clamp */
    .navigation { top: 0.5rem; right: 0.5rem; }
    .hero__profil li { font-size: 22px }
    .hero::before { background-size: 180% 100%; clip-path: polygon(50% 2%, 180% -26%, 129% 48%, 90% 80%, 81% 92%, 70% 98%, 18% 183%, -41% 38%, 211% -200%, 50% 2%); }
    .recherche { width: 100%; margin: 15px 100px 15px 100px; }
    td, th { font-size: 12px; padding: 0; margin: 0; } /* aucun padding pour gagner de la place */
    .recette__article p {font-size: 0.7rem; }
    .recette__figure {flex: 0 0 42%; margin: 0 auto; }
    .video iframe { width: 100%; }
    .galerie__figure { max-width: 90%; padding: 0.5rem; }
}

@media (max-width: 650px) {
    .recherche { margin: 15px; } /* margin final pour la barre de recherche */
}